DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=stockdb

KAFKA_CLUSTER_ID=clYp6b9_3S26F4797m_X6_p4K
KAFKA_TOPIC=stock-quotes

GF_USER=admin
GF_PASSWORD=admin

FINNHUB_API_KEY=
